@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #A1FFCE, #FAFFD1);
  display: flex;
}

body {
  margin: auto;
  background-color: rgba(119, 112, 112, 0.4);
  border-radius: 7%;
  color: #1F2937
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
